body {
    margin: 0;
    padding: 0;
    background: rgb(30, 39, 50);
    display: flex;
}

#header {
    position: fixed;
    background-color: black;
    color: white;

    padding: 1%;
    width: 100%;
    height: auto;

    top: 0;
    align-items: center;
    display: flex;
    margin: 0;

    a {
        margin-left: 2%;

        button{
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        
            color: white;
            font-size: 2rem;
            font-family: "GlitchGoblin";
        
            float: left;
        }

        button:hover {
            border: transparent;
            border-bottom: 1px solid white;
            text-shadow: 5px 0 red,  -5px 0 cyan;
        }
    }
}

#main {
    font-family: "BPB";
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.outer {
    clip-path: polygon(
        16px 0,
        100% 0,

        100% calc(100% - 16px), 
        calc(100% - 16px) 100%,

        0 100%, 
        0 16px);

    position: relative;
    margin-top: 5%;
    
    height: auto;
    width: 30%;

    .inner {
        color: white;
        background: black;
        border: 2px solid #b9b000;
        margin: 0;
        padding-left: 2%;

        list-style: none;
        position: relative;
        z-index: 1;

        text-align: center;
    }

    .inner::before {
        content: "";
        position: absolute;
        border-right: 16px solid transparent;
        border-top: 16px solid #b9b000;

        width: 0%;
        left: 0;
        top: 0;
    }

    .inner::after {
        content: "";
        position: absolute;
        border-left: 16px solid transparent;
        border-bottom: 16px solid #b9b000;

        width: 0%;
        bottom: 0;
        right: 0;
    }
}