@font-face {font-family: "GlitchGoblin"; src: url('fonts/GlitchGoblin.ttf');}

@font-face {font-family: "GameBoy"; src: url('fonts/GameBoy.ttf');}

@font-face {font-family: "BPB"; src: url('fonts/BlenderProBook.otf');}

@font-face {font-family: "JetBrainsMono"; src: url('fonts/JetBrainsMono.ttf');}

@font-face {font-family: "Orbitron"; src: url('fonts/Orbitron.ttf');}